body {
  margin:50px 0px; padding:0px;
  text-align:center;
  background-color: #e3e3e3;
}

.container form {
  width:500px;
  margin:0px auto;
  text-align:left;
  padding:15px;
  border:1px dashed #333;
  background-color:#eee;
}

header {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

}

#logo {
  color: white;
}

.main-content {
  position: relative;
  top: 80px;
}

li,a{
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 120%;
}

a:hover {
  color: red;
}

.button {
 border-top: 1px solid #000000;
 background: #b5b5b5;
 background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#b5b5b5));
 background: -webkit-linear-gradient(top, #000000, #b5b5b5);
 background: -moz-linear-gradient(top, #000000, #b5b5b5);
 background: -ms-linear-gradient(top, #000000, #b5b5b5);
 background: -o-linear-gradient(top, #000000, #b5b5b5);
 padding: 7px 14px;
 -webkit-border-radius: 0px;
 -moz-border-radius: 0px;
 border-radius: 0px;
 -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
 -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
 box-shadow: rgba(0,0,0,1) 0 1px 0;
 text-shadow: rgba(0,0,0,.4) 0 1px 0;
 color: #ffffff;
 font-size: 16px;
 font-family: Helvetica, Arial, Sans-Serif;
 text-decoration: none;
 vertical-align: middle;
 position: relative;
 top: 10px;
}
.button:hover {
 border-top-color: #8f9091;
 background: #8f9091;
 color: #0d0d0d;
}
.button:active {
 border-top-color: #b1b5b5;
 background: #b1b5b5;
}

