
<% if @incorrect == true %>
<p>You are wrong! Try again.</p>
<%end%>
<p><%= @card.question %></p>
<br/>
<form action="/cards/<%= @card.id %>" method="post">
  <input name="answer" type="text"><br>
  <input type="submit" value="Submit" />
</form>


