<div class="container">

<header>
<h1 id="logo">Welcome to QuizLync!</h1>
</header>
<br/>
<div class="main-content">
<h1>Choose a deck:</h1>

<ul>
  <% @decks.each do |deck| %>
    <li><a href="/decks/<%= deck.id %>"><%= deck.name %></li>
  <% end %>
</ul>
</div> <!-- end main content -->

</div>

