
<h2>Make a New Note!</h2>
<div align="left">
  <form action="/notes" method="post">
    <p>Title<input type="text" name="title"></p>
    <p>Content:<br/><TEXTAREA name="content" ROWS=10 COLS=40></TEXTAREA></p>
    <p><input type="submit" value="Create Post!"></p>
  </form>
</div>



